* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1f242d;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 9%;
    background-color: #1f242d;
}

.navbar .logo {
    font-size: 2.5vw;
    font-weight: 600;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 70px;
}

.navbar ul li a {
    font-size: 1.5vw;
    font-weight: 500;
    transition: 0.5s;
}

.navbar ul li:hover a {
    color: #7cf03d;
}

.home {
    display: flex;
    color: white;
    align-items: center;
    padding: 2vw 9% 0 9%;
    height: 100vh;
    z-index: 50;
    overflow-x: auto;
    overflow-y: auto;
}

.start h1 {
    font-size: 4vw;
}
.start h2 {
    font-size: 2.5vw;
    margin-top: 20px;
}
.start p {
    font-size: 1.5vw;
    margin: 5px 0 1vw;
}

.img img {
    width: 22vw;
    height: 22vw;
    object-fit: cover;
    margin-left: 20%;
    border-radius: 50%;
    border: 5px solid #7cf03d;
}

.about {
    display: flex;
    background-color: #1f242d;
    padding: 2vw 9% 0 9%;
    height: 30vh;
    align-items: center;
    z-index: 50;
    overflow: auto;
}

.about div {
    color: #7cf03d;
    font-size: 2.5vw;
    margin-right: 30px;
    top: 100px;
}

.about p {
    margin-left: 30px;
    color: white;
    font-size: 1.5vw;
}


.interest {
    display: flex;
    background-color: #1f242d;
    padding: 0px 9% 0;
    height: 70vh;
    align-items: center;
    flex-direction: column;
    z-index: 50;
    overflow: auto;
}

.interest .head {
    color: #7cf03d;
    font-size: 2.5vw;
    margin-right: 20px;
    margin-bottom: 50px;
    padding-left: 65px;
    margin-top: 40px;
}

.interest .topic {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.interest .topic .namet {
    font-size: 1.8vw;
    box-shadow: #7cf03d;
    background-color: #7cf03d;
    border-radius: 30px;
    border: 2px solid #7cf03d;
    box-shadow: 0 0 7px #7cf03d;
    padding: 5px 15px;
    font-weight: 600;
    transition: 0.5s;
    color: #1f242d;

}

.interest .topic .namet:hover {
    color: #7cf03d;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #7cf03d;
    border-radius: 30px;
}

.interest .details {
    display: flex;
    margin-top: 30px;
    justify-content: center;

}

.interest .details p {
    font-size: 1.2vw;
    background-color: #1f242d;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 0 2.5em;
}


.contact {
    display: flex;
    background-color: #1f242d;
    padding: 60px 9% 0;
    height: 30vh;
    align-items: center;
    z-index: 50;
}

.contact div {
    color: #7cf03d;
    font-size: 2vw;
    margin-right: 30px;
    top: 100px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact a {
    background-color: #7cf03d;
    border-radius: 40px;
    border: 2px solid #7cf03d;
    box-shadow: 0 0 7px #7cf03d;
    padding: 5px 15px;
    font-size: 1.5vw;
    font-weight: 600;
    transition: 0.5s;
    color: #1f242d;
    overflow: auto;
}

.contact a:hover {
    color: #7cf03d;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #7cf03d;
    border-radius: 40px;
}

.home .start #name {
    text-shadow: -1px -1px 0 #7cf03d, -1px +1px 0 #7cf03d, 1px -1px 0 #7cf03d, 1px 1px 0 #7cf03d;
    color: #1f242d;
    display: inline-block;
    transition-duration: 1s;
}

.home .start #name:hover {
    text-shadow: none;
    color: #7cf03d;
}

.home .start #alias {
    display: inline-block;
    color: #7cf03d;
    transition-duration: 1s;
}
.home .start #alias:hover {
    text-shadow: -1px -1px 0 #7cf03d, -1px +1px 0 #7cf03d, 1px -1px 0 #7cf03d, 1px 1px 0 #7cf03d;
    color: #1f242d;
}

@media (max-width: 786px) {
    .interest .topic{
        flex-direction: column;
        align-items: center;
    }

    .interest .topic .namet {
        width: 30vw;
        text-align: center;
    }

    .interest .details {
        flex-direction: column;
        gap: 15px;
    }

    .interest .details p {
        font-size: 2vw;
    }

    .logo {
        margin-bottom: 15px;
    }
    
    .navbar {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        position: relative;
    }

    .home img {
        margin-left: 0%;
    }

    .about {
        flex-direction: column;

    }

    .about div {
        margin: 0 auto;
        align-self: center;
    }

    .about p {
        margin: 1.5vw 0 0 0;
        align-self: center;
        text-align: center;

    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: none;
        
    }

    .navbar ul li {
        margin-top: 7px;
        align-self: center;
        margin: none;
    }

    .home {
        padding-top: 0px;
    }

}



